{% extends '@Menu/base_layout.html.twig' %}

{% block title %}
    {{ 'show'|trans }} {{ 'access_control'|trans }}: {{ role|trans }}
{% endblock %}

{% block actions %}
    {{ link_to('kmj_menu_access_control_index', {}, {class: "btn btn-sm btn-outline-primary", 'icon': '<span class="fa fa-list"></span>', label: 'back'|trans}) }}
{% endblock %}

{% block body %}
    
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    
    {{ form_start(form) }}
    
    <p>
        <input type="checkbox" id="checkall"/> {{ "check_all"|trans }}
    </p>
    <table class="table table-bordered table-hover">
        <tbody>
        {% set skip = ['_token', 'role'] %}
        {% for groupName, group in groups %}
            <tr style="background-color: #eaeaea">
                <th colspan="2"> <input type="checkbox" onclick="checkallgroup(this,'{{ groupName }}')"/> {{ groupName|trans|upper }}</th>
            </tr>
            {% for k, row in form %}
                {% if k not in skip and group.contains(k) %}
                    <tr>
                        <th style="width:30%">
                            <p>
                                <input type="checkbox" onclick="checkallgroup(this,'{{ k }}')"/> {{ k|trans }}
                            </p>
                        </th>
                        <td>
                            {% for name, access_form in row %}
                                <div class="row">
                                    {% for n, access in access_form %}
                                        <div class="col-lg-3">
                                            {{ form_widget(access, {attr: {class: "access-control " ~ k ~ " " ~ groupName, style: 'width: fit-content;display: inline'}}) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
        
    <div class="pull-right">
        <button type="submit" class="btn btn-sm btn-outline-success">
            <span class="fa fa-save"></span> 
            {{ 'save'|trans }}
        </button>
        {{ link_to('kmj_menu_access_control_index', {}, {class: "btn btn-sm btn-outline-primary", 'icon': '<span class="fa fa-list"></span>', label: 'back'|trans}) }}
    </div>
        
    {{ form_end(form) }}
    
{% endblock %} 
    
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $("#checkall").click(function () {
                $(".access-control").prop("checked", $(this).is(":checked"));
                $.uniform.update($(".access-control"));
            });
        });

        function checkallgroup(obj, group) {
            $("." + group).prop("checked", $(obj).is(":checked"));
            $.uniform.update($("." + group));
        }
    </script>
{% endblock %}